[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	signingkey = 61C8FF14F97741FA
	name = Aryan Pathania
	email = aryan@mercari.com
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	program = gpg
[credential]
	helper = store
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
	insteadOf = https://github.com/uth
[url "https://github.com/"]
	insteadOf = git@github.com:
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	excludesfile = /Users/aryan/.gitignore_global
