[core]
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Aryan
	email = 75756768+aynp@users.noreply.github.com
	signingkey = /home/aryan/.ssh/id_ed25519
[commit]
	gpgsign = true
[gpg]
	format = ssh
[pull]
	rebase = true
